.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3.5rem;
  > h2 {
    font-size: 18px;
  }
}

.br {
  display: block;
  margin: {
    bottom: 1rem;
  }
  height: 1px;
  background-color: #c7cdd9;
}

@media (min-width: 700px) {
  .wrapper {
    display: none;
  }
}
