.mainBlock {
  text-align: start;

  position: relative;
}

.PaginationCircleBlock {
  position: absolute;
  top: 50%;
  left: 35%;

  display: flex;
  gap: 0.5rem;
}
.buttonBlock {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.4rem;
  font-weight: 100;
  cursor: pointer;

  &:focus-visible {
    outline: none;
  }
}

// MEDIA
@media (min-width: 500px) {
  .mainBlock {
    margin-top: 13%;
    margin-bottom: 3%;
  }

  .buttonBlock {
    gap: 0.5rem;
  }
}

@media (min-width: 700px) {
  .buttonBlock {
    gap: 1.5rem;
  }

  .PaginationCircleBlock {
    display: none;
  }
}

@media (min-width: 1500px) {
  .mainBlock {
    margin-top: 20%;
    margin-bottom: 3%;
  }
}
