.pt-sans-regular {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
}
