:root {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;

  color: #42567a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  grid-column: 3 / 12;
  min-height: 100vh;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  all: unset;
}

/* основной переход */
@media (min-width: 500px) {
  :root {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}

.swiper-slide-next {
  opacity: 50%;
}

@media (min-width: 500px) {
  .swiper-slide-next {
    opacity: 1;
  }
}
